h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: green;
}
.login_form{
    display: flex;
    flex-direction: column;
    width:280px;
    margin-top:10px;
}

.login_wrap{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:410px;
    height:580px;
    top:50%;
    left:50%;
    margin: -175px 0px 0px -190px;
    background-color:white;
    border: 1px solid #DBDBDB;
}

.login_text{
    width:100%;
    height:40px;
    margin: 3px 0 3px 0 ;
    padding: 0 10px 0 10px;
    background-color:#FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.login_text:focus{
    outline: 1px solid #a8a8a8;
}
.login_text::placeholder{
    color:#8E8E8E;
}
.login_btn{
    width:100%;
    height:33px;
    margin: 10px 0 5px 0;
    color:white;
    background-color: lightgreen;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
